:host(app-tests-page) {
    height: calc(100% - 6rem);
    width: 100%;
}

main {
    border-radius: 10px;
    display: flex;
    background-color: #FBFEF9;
    border: 1px solid rgba(0, 0, 0, 0.163);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}