<div class="outer_container">
  <div class="inner_container flex-col p-2 text-ang-text_main">
    <div
      class="flex flex-col items-center gap-2 border-b border-ang-border_main"
    >
      <app-icon-selector class="min-w-20 min-h-20"></app-icon-selector>
      <div class="flex flex-col text-center pb-2">
        <h1 class="font-bold">{{ userName }}</h1>
        <p class="font-semibold">Košická akádemia softvérového vývoja</p>
        <button
          class="border border-ang-border_main toggle_dark"
          (click)="toggleDark()"
        >
          Dark mode
        </button>
      </div>
    </div>
  </div>
</div>
<input type="file" (change)="onFileSelected($event)" class="w-80 h-8 border" />
<button (click)="sendData()">Send data</button>
