<div class="login_card">
    <div class="top_section">
        <div class="input_group">
            <label for="meno">Prihlasovacie meno</label>
            <input type="text" name="meno" id="meno" class="login_cred" required
                placeholder="Zadaj svoje prihlasovacie meno">

            <label for="heslo">Heslo</label>
            <input type="password" name="heslo" id="heslo" class="login_cred" required placeholder="Zadaj svoje heslo">
        </div>

        <div class="utils">
            <p>Zabudnuté heslo</p>

            <div class="remember">
                <label for="remember">zapamätaj si ma</label>
                <input type="checkbox" name="remember" id="remember">
            </div>
        </div>
    </div>

    <div class="mid_section"></div>

    <div class="bot_section">
        <button>Prihlásiť</button>
        <button>Zaregistrovať</button>
    </div>
</div>
