app-navbar {
    display: none;
    position: fixed;
    z-index: 1000;
}

header {
    height: 6rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 1px solid var(--border-color-light);
}

header.light {
    background-color: var(--main-bg-color-light);
    box-shadow: 0 0 10px var(--box-shadow-color-light);
}

header.dark {
    background-color: var(--main-bg-color-dark);
}


/** headline section */
.headline {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: var(--main-text-color-light);
    letter-spacing: 1px;
    font-size: 2rem;
}


/** end of headline section */


/** button section*/

.buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 8rem;
}

button {
    padding: 0.5rem 0.6rem 0.5rem 0.6rem;
    border: 0.1rem var(--account-border-color-light) solid;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 1px 1px 5px rgb(114, 112, 112);
    font-weight: 400;
}

/** register button */

button.register {
    position: relative;
    background-color: var(--account-button-color-light);
    color: #fff;
}

button.register:hover:before,
button.register:focus:before {
    width: 101%;
}

/** end of register button */

button.register:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 100%;
    background-color: var(--account-button-hover-color-light);
    transition: width 0.7s ease-in-out;
}

button>p {
    position: relative;
    font-size: 1rem;
    z-index: 1;
}

/** end of button section*/

.burger_menu {
    cursor: pointer;
    width: 8rem;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.burger_menu span {
    background: var(--account-button-color-light);
    height: 5px;
    width: 38px;
    display: block;
    position: relative;
    transition: all ease 0.5s;
    border-radius: 5px;
}

.burger_menu span:after,
.burger_menu span:before {
    background: var(--account-button-color-light);
    height: 5px;
    width: 38px;
    display: block;
    position: absolute;
    content: '';
    left: 0;
    top: 12px;
    transition: all ease 0.3s;
    border-radius: 5px;
}

.burger_menu span:before {
    top: -12px;
    transition: all ease 0.7s;
}

.expanded>span,
.expanded>span::before,
.expanded>span::after {
    border-radius: 5px;
    width: 6px;
}

.logged_icons {
    display: flex;
    gap: 2rem;
    width: 8rem;
}

.logged_icons>p {
    cursor: pointer;
    transition: all 0.8s;
}

.logged_icons>p:hover,
.logged_icons>p:focus {
    transform: scale(1.2);
}

.time-display button {
    width: 150px;
    position: absolute;
    margin-top: 1rem;
}

@media (max-width: 425px) {

    header {
        padding: 0.5rem;
    }

    .burger_menu {
        width: 4rem;
        height: 40px;
    }

    .logged_icons {
        gap: 1rem;
    }

    .logged_icons>p {
        font-size: 0.8rem;
    }
}