<div class="container">
    <header id="main_header">
        <div class="burger_menu" (click)="onToggleNav()" [ngClass]="{ 'expanded': buttonExpanded }"><span></span></div>
        <div class="headline" id="header_title">
            <img src="assets/logo.png" alt="" width="100px" height="100px">
        </div>
        <div *ngIf="!authService.isLoggedIn" class="buttons" id="but">
            <button class="register" id="header_reg_button" routerLink="/login">
                <p>Účet</p>
            </button>
        </div>
        <div class="modeSwitch">
            <img class="modeSwitch" src="assets/header_icons/Moon.png" alt="">
        </div>
        <div *ngIf="authService.isLoggedIn" class="logged_icons">
            <p routerLink="/user-account"><img src="assets/header_icons/userprofile.png" alt="user_profile_icon"
                    width="38px" height="38px"></p>
            <p routerLink="" (click)="onLogout()"><img src="assets/header_icons/logout.png" alt="logout_icon"
                    width="38px" height="38px">
            </p>

        </div>
    </header>

</div>
<app-navbar id="navbar"></app-navbar>