<div class="container">
    <header id="main_header">
        <div class="burger_menu" (click)="onToggleNav()"><span></span></div>
        <div class="headline" id="header_title">
            <img src="assets/logo.png" alt="" width="100px" height="100px">
        </div>
        <div class="buttons" id="but">
            <button class="register" id="header_reg_button" routerLink="/register">
                <p>Register</p>
            </button>
            <button class="login" id=" header_log_button" routerLink="/login">
                <p>Log In</p>
            </button>
        </div>
    </header>

    <app-navbar id="navbar"></app-navbar>
</div>