<div class="container">
    <header id="main_header">
        <div class="burger_menu" (click)="onToggleNav()" [ngClass]="{ 'expanded': buttonExpanded }"><span></span></div>
        <div class="headline" id="header_title">
            <img src="assets/logo.png" alt="" width="100px" height="100px">
        </div>
        <div *ngIf="!authService.isLoggedIn" class="buttons" id="but">
            <button class="register" id="header_reg_button" routerLink="/login">
                <p>Účet</p>
            </button>
        </div>
        <div *ngIf="authService.isLoggedIn" class="buttons" id="but">
            <button class="logout" id=" header_log_button" routerLink="/login">
                <p routerLink="" (click)="onLogout()">Odhlásenie</p>
            </button>
        </div>
    </header>

    <app-navbar id="navbar"></app-navbar>
</div>