<div class="outer_container">
  <div
    *ngIf="teacherInfo$ | async as teachers"
    class="inner_container items-center flex-col"
  >
    <div class="flex items-center flex-col justify-center gap-4 w-full">
      <h2 *ngIf="schoolName" class="p-4 text-ang-text_main text-2xl">
        {{ schoolName }}
      </h2>
      <div
        class="border-2 border-ang-border_main m-4 w-full max-w-[80%] grid grid-cols-6 grid-flow-row sm:p-2 rounded-lg"
      >
        <div
          class="col-span-6 pb-4 flex flex-col items-center sm:flex-row justify-between"
        >
          <div class="flex items-center gap-4">
            <input
              type="search"
              class="border-2 border-ang-border_main rounded-md w-32 md:w-48"
            />
            <button>
              <span
                class="material-symbols-outlined text-3xl text-ang-text_main"
              >
                search
              </span>
            </button>
          </div>
          <div class="flex gap-2">
            <button (click)="addNewTeacher()">
              <span
                class="material-symbols-outlined text-3xl text-ang-text_main hover:scale-110 transition-all"
              >
                add_box
              </span>
            </button>
            <button>
              <span
                class="material-symbols-outlined text-3xl text-ang-text_main hover:scale-110 transition-all"
              >
                delete
              </span>
            </button>
          </div>
        </div>
        <div
          class="text-sm text-wrap grid mx-2 sm:grid-cols-3 text-center place-items-center self-auto col-span-6"
        >
          <p>Učiteľské meno</p>
          <p>Učiteľské heslo</p>
          <p>Učiteľský email</p>
        </div>
        <div
          *ngFor="let teacher of teachers"
          class="text-sm text-wrap grid mx-2 sm:grid-cols-3 place-items-center self-auto col-span-6 border border-ang-border_main shadow-lg rounded-md py-1 my-2"
        >
          <p>{{ teacher.teacherName }}</p>
          <p>{{ teacher.teacherPassword }}</p>
          <p>{{ teacher.email }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  *ngIf="addWindow"
  class="fixed left-0 top-0 w-screen h-screen bg-opacity-40 bg-black justify-center items-center flex z-50"
>
  <div
    class="bg-ang-main_bg border border-ang-border_main p-8 w-4/6 rounded-lg max-w-[32rem]"
  >
    <div class="flex justify-end">
      <button (click)="closeWindow()">
        <span
          class="material-symbols-outlined text-right text-ang-text_main text-3xl"
        >
          close
        </span>
      </button>
    </div>
    <div class="flex flex-col gap-2">
      <label for="teacherName">Učiteľské meno</label>
      <input
        type="text"
        id="teacherName"
        class="border border-ang-border_main rounded-md p-1"
      />
      <label for="teacherName">Učiteľské heslo</label>
      <input
        type="text"
        id="teacherPassword"
        class="border border-ang-border_main rounded-md p-1"
      />
      <label for="teacherName">Učiteľský email</label>
      <input
        type="text"
        id="teacherMail"
        class="border border-ang-border_main rounded-md p-1"
      />
    </div>
    <div class="flex justify-center items-center mt-4">
      <button
        class="border border-ang-border_main py-1 px-2 rounded-lg bg-ang-main_btn text-ang-text_white hover:opacity-85"
      >
        Vytvoriť
      </button>
    </div>
  </div>
</div>
