rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read: if true;
      allow write: if request.auth.uid == 'ZbWo5qHGmNOpQduzHk78HTsbDsn2' || request.auth != null;
    }
    match /users/{userID} {
      allow write: if request.auth != null;
  }
}}