rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents { 
  	match /edu_materials/{document=**} {
      allow read: if true;
      allow write: if false;
    }
    
    match /tests/{document=**} {
      allow read: if true;
      allow write: if request.auth.uid == 'Thlx1tYLcnfft6fey38i6KTD5bY2' && request.auth != null;
    }
    
    match /users/{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}