:host(app-user-account) {
    height: calc(100% - 6rem);
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.163);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #FBFEF9;
    padding: 2rem;
}