:host(app-user-account) {
    height: calc(100% - 6rem);
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.163);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: var(--main-bg-color);
    padding: 2rem;
    color: var(--main-text-color);
}

.container {
    display: flex;
    gap: 0.8rem;
}

.container,
.test_container,
.question_container {
    border-bottom: 1px solid #213d85;
    padding-bottom: 15px;
    margin-bottom: 0.6rem;
}

.icon_selector {
    width: 8rem;
    height: 8rem;
    background-color: black;
    border-radius: 5px;
}

.cred_container {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}