<div
  class="main_container"
  [class.light]="!isDarkMode"
  [class.dark]="isDarkMode"
>
  <h2 mat-dialog-title [class.light]="!isDarkMode" [class.dark]="isDarkMode">
    Výsledok
  </h2>
  <div class="dialog-content">
    <mat-dialog-content [class.light]="!isDarkMode" [class.dark]="isDarkMode">
      <p>V teste ste dosiahli:</p>
      <p>
        <b>{{ (data.score / data.total) * 100 | number: "1.0-2" }}%</b>
      </p>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button routerLink="" (click)="homepageRedirect()">
        Domovská stránka
      </button>

      <button
        *ngIf="authService.isLoggedIn"
        mat-button
        (click)="onClick()"
        routerLink="/saved-tests-page"
      >
        Detaily testu
      </button>
    </mat-dialog-actions>
  </div>
</div>
