.main_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 8px 16px 16px;
  width: 25rem;
  height: 15rem;
}
.main_container.light {
  background-color: var(--main-bg-color-light);
}
.main_container.dark {
  background-color: var(--main-bg-color-dark);
}
mat-dialog-content.dark{
  color: var(--main-text-color-dark);
}
h2.dark{
  color: var(--main-text-color-dark);
}

.dialog-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

mat-dialog-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.dialog-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.percentage-output {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
}

button {
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  border: 0.1rem rgb(104, 135, 240) solid;
  font: inherit;
  font-size: 16px;
  color: black;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  overflow: hidden;
  box-shadow: 1px 1px 5px rgb(114, 112, 112);
  font-weight: 400;
}
