:host(app-register-page) {
  height: calc(100% - 6rem);
  width: 100%;
}

.main_container {
  border-radius: 10px;
  border: 1px solid var(--border-color-light);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.main_container.light {
  background-color: var(--main-bg-color-light);
}

.main_container.dark {
  background-color: var(--main-bg-color-dark);
}

.register_card {
  background: url("/assets/waves_login.png");
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: var(--auth-bg-color-light);
  width: clamp(20rem, 25rem, 35rem);
  height: clamp(15rem, 34rem, 50rem);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 3px var(--box-shadow-color-light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input_group {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 2px solid #4363b58d;
  padding: 5px;
}

label {
  margin-bottom: 0.3rem;
}

.register_cred {
  height: 2.5rem;
}

.bot_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 0.5rem 0.8rem 0.5rem 0.8rem;
  border: 0.1rem rgb(104, 135, 240) solid;
  font: inherit;
  font-size: 16px;
  color: black;
  border-radius: 10px;
  background-color: var(--button-white-bg-light);
  cursor: pointer;
  overflow: hidden;
  box-shadow: 1px 1px 5px rgb(114, 112, 112);
  font-weight: 400;
}

button:hover,
button:focus {
  background-color: #c6d4ff;
}

.mid_section {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  color: var(--main-error-message-light);
  font-weight: 800;
}

.error-border {
  border: 2px solid var(--main-error-message-light);
}

.noborder {
  border: none;
}

.user_cred {
  display: flex;
}

.user_firstcred,
.user_secondcred {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  :host(app-register-page) {
    height: auto;
    padding-bottom: 1rem;
  }
}

@media (max-width: 426px) {
  .register_card {
    width: 40rem;
  }

  .user_cred {
    flex-direction: column;
  }
}

@media (max-width: 375px) {

  .user_firstcred>input,
  .user_secondcred>input {
    width: 100%;
  }
}