<div class="outer_container">
    <div class="inner_container items-center justify-center">
        <div
            class="bg-gradient-to-t from-ang-gradient_from to-ang-gradient_to p-8 rounded-lg text-white font-semibold"
        >
            <div class="flex py-2 gap-1">
                <div class="flex flex-col w-full">
                    <label for="krstne">Meno</label>
                    <input
                        (ngModelChange)="newInput()"
                        [(ngModel)]="fname"
                        type="text"
                        name="krstne"
                        id="krstne"
                        class="w-full p-1 border border-ang-border_main rounded-lg text-black"
                        required
                        placeholder="Ján"
                    />
                </div>
                <div class="flex flex-col w-full">
                    <label for="priezv">Priezvisko</label>
                    <input
                        (ngModelChange)="newInput()"
                        [(ngModel)]="lname"
                        type="text"
                        name="priezv"
                        id="priezv"
                        class="w-full p-1 border border-ang-border_main rounded-lg text-black"
                        required
                        placeholder="Novák"
                    />
                </div>
            </div>
            <div class="py-2">
                <label for="email">E-mail</label>
                <input
                    (ngModelChange)="newInputEmail()"
                    [(ngModel)]="email"
                    type="email"
                    name="email"
                    id="email"
                    class="w-full p-1 border border-ang-border_main rounded-lg text-black"
                    required
                    [ngClass]="{
                        'border-red-600': emailError
                    }"
                    placeholder="jan.novak@email.com"
                />
            </div>
            <div class="py-2">
                <label for="heslo">Heslo</label>
                <input
                    (ngModelChange)="newInputPswd()"
                    [(ngModel)]="password"
                    type="password"
                    name="heslo"
                    id="heslo"
                    class="w-full border border-ang-border_main rounded-lg p-1 text-black"
                    required
                    [ngClass]="{
                        'border-red-600': pswdError
                    }"
                    placeholder="Zadajte heslo"
                />
            </div>
            <div class="py-2">
                <label for="hesloKontrola">Kontrola hesla</label>
                <input
                    [(ngModel)]="passwordCheck"
                    type="password"
                    name="hesloKontrola"
                    id="hesloKontrola"
                    class="w-full border border-ang-border_main rounded-lg p-1 text-black"
                    [ngClass]="{
                        'border-red-600': pswdError
                    }"
                    required
                    placeholder="Zopakujte heslo"
                />
            </div>

            <div
                class="font-semibold text-xl border border-red-500 bg-red-500 bg-opacity-70 rounded-lg px-2 py-0.5 text-zinc-950 text-center"
                *ngIf="pswdError || emailError || inputErr"
            >
                {{ errorMessage }}
            </div>
            <div class="flex justify-between pt-10">
                <button
                    class="border border-ang-border_main px-3 py-1 text-ang-text_main font-semibold hover:opacity-85 rounded-lg bg-white"
                    id="register_log_button"
                    routerLink="/login"
                >
                    <p>Späť na prihlásenie</p>
                </button>
                <button
                    id="createButton"
                    class="border border-ang-border_main px-3 py-1 text-ang-text_main font-semibold hover:opacity-85 rounded-lg bg-white"
                >
                    <p (click)="register()">Založ účet</p>
                </button>
            </div>
        </div>
    </div>
</div>
