<div>
  <div>
    <form [formGroup]="testForm">

      <div id="subCat-window">
        <label for="subCat">Kategória:</label>
        <select id="subCat" formControlName="subCat">
          <option value="anj">Angličtina</option>
          <option value="mat">Matematika</option>
          <option value="sjl">Slovenčina</option>
        </select>
      </div>
      <div>
        <label for="year">Rok:</label>
        <input id="year" formControlName="year" placeholder="Year"/>
        <select *ngIf="testForm.get('subCat')?.value === 'anj'" id="level">
          <option value="anj">B1</option>
          <option value="mat">B2</option>
          <option value="sjl">C1</option>
        </select>
      </div>

      <div formArrayName="sections">
        <div *ngFor="let section of sections.controls; let sectionIndex = index" [formGroupName]="sectionIndex">
          <h1>Section: {{sectionIndex + 1}}</h1>

<!--      IN DIV UNDER ARTICLES-->
          <div formArrayName="articleUrls">
            <h2 *ngIf="getArticleUrls(sectionIndex).length > 0">Articles:</h2>
            <div *ngFor="let articleUrl of getArticleUrls(sectionIndex).controls; let articleIndex = index" [formGroupName]="articleIndex">
              <input type="text" formControlName="url" placeholder="Article: {{articleIndex + 1}}">
              <button type="button" (click)="removeArticleUrl(sectionIndex, articleIndex)">Remove article</button>
            </div>
            <button type="button" (click)="addArticleUrl(sectionIndex)">Add article</button>
          </div>

<!--      IN DIV UNDER QUESTIONS-->
          <div formArrayName="questions">
            <h2 *ngIf="getQuestions(sectionIndex).length > 0">Questions:</h2>
            <div *ngFor="let question of getQuestions(sectionIndex).controls; let questionIndex = index" [formGroupName]="questionIndex">
              <input type="text" formControlName="questionJson" placeholder="Questions: {{questionIndex + 1}}">
              <button type="button" (click)="removeQuestion(sectionIndex, questionIndex)">Remove question</button>
            </div>
            <button type="button" (click)="addQuestion(sectionIndex)">Add question</button>
          </div>

          <button type="button" (click)="removeSection(sectionIndex)">Remove section</button>
        </div>
      </div>
      <button type="button" (click)="addSection()">Add section</button>

    </form>
    <button type="submit" (click)="onSubmit()" [disabled]="testForm.invalid">Submit</button>
  </div>
</div>
