input {
  width: 50%;
  height: 2rem;
  margin: 10px;
  border: 1px solid black;
}

select {
  height: 2rem;
  margin: 10px;
  border: 1px solid black;
}

textarea {
  width: 80%;
  height: 15rem;
  margin: 10px;
  border: 1px solid black;
}

h1 {
  font-size: 1.5rem;
  margin: 10px;
}

h2 {
  font-size: 1.2rem;
  margin: 10px;
}

label {
  margin: 10px;
}

button {
  margin: 10px;
  padding: 2px 4px;
  background-color: #06b7f9;
  color: white;
  border: none;
  border-radius: 5px;
}

.addButton {
  background-color: #61c430;
}

.removeButton {
  background-color: #c23e3e;
}

#subCat-window {
  margin-top: 10px;
}

.articleSection, .questionSection {
  margin: 20px 10px;
  border: #06b7f9 1px solid;
}
