<p>official-test-constructor-page works!</p>
<div>
  <div>
    <label for="subCat">Kategória</label>
    <select id="subCat" [(ngModel)]="subCat" required>
      <option value="anj">Angličtina</option>
      <option value="mat">Matematika</option>
      <option value="sjl">Slovenčina</option>
    </select>
    <label for="year"></label>
    <input id="year" [value]="year" required />


    <form [formGroup]="testForm">
      <div formArrayName="sections">
        <div *ngFor="let section of sections.controls; let sectionIndex = index" [formGroupName]="sectionIndex">
          <p>Section: {{sectionIndex + 1}}</p>
          <div formArrayName="articleUrls">
            <div *ngFor="let articleUrl of getArticleUrls(sectionIndex).controls; let articleIndex = index" [formGroupName]="articleIndex">
              <p>Article: {{articleIndex + 1}}</p>
              <label>Article URL:</label>
              <input type="text" formControlName="url">
            </div>
            <button type="button" (click)="addArticleUrl(sectionIndex)">Add article</button>
          </div>

          <button type="button" (click)="removeSection(sectionIndex)">Remove section</button>
        </div>
      </div>
      <button type="button" (click)="addSection()">Add section</button>
    </form>

  </div>
</div>
