<div *ngIf="articleWithQuestions" id="main_page_container">
  <div *ngFor="let articleQuestion of articleWithQuestions" class="test">
    <div class="article">
      <img [src]="articleQuestion.article.url" />
    </div>
    <div *ngFor="let question of articleQuestion.questions" class="question">
      <div *ngIf="question.text.length != 0" class="questions">
        <div class="test_question">
          <p class="question_id">{{question.id}}.</p>
          <p [innerHTML]="question.text" class="question_text"></p>
        </div>
        <ng-container *ngIf="question.text === 'Zrušená otázka'">
        </ng-container>
        <ng-container *ngIf="isTextInput(question) && question.text !== 'Zrušená otázka'; else radioOptions">
          <input type="text" class="input_text" placeholder="Sem napíšte svoju odpoveď" />
        </ng-container>
        <ng-template #radioOptions>
          <div *ngFor="let option of question.options" class="radio_options">
            <input [name]="question.id" type="radio" [value]="option" />
            <label [for]="option" [innerHTML]="option"></label>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>