nav {
    background-color: #FBFEF9;
    border: 1px solid rgba(121, 120, 120, 0.541);
    border-radius: 10px;
    width: 20rem;
}

.types {
    font-size: 1rem;
    height: 2.2rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.main {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li,
.expandable_ul {
    font-size: 1.2rem;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.286);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 3rem;
}

.hidden {
    display: none;
}

.displayed {
    display: block;
}

li:hover,
li:focus,
ul.expandable_ul:hover,
ul.expandable_ul:focus {
    background-color: #497bfa;
    cursor: pointer;
}

li:hover:last-child,
li:focus:last-child {
    border-radius: 0 0 10px 10px;
}

li:focus:first-child,
li:hover:first-child {
    border-radius: 10px 10px 0 0;
}