nav {
    background-color: #FBFEF9;
    border: 1px solid rgba(116, 116, 116, 0.163);
    border-radius: 0 0 10px 10px;
    width: 20rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.main {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    font-size: 1.2rem;
    border-bottom: 1px solid #3369F3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 3rem;
}

li:hover,
li:focus {
    background-color: #467AFF;
    cursor: pointer;
}

li:hover:last-child,
li:focus:last-child {
    border-radius: 0 0 10px 10px;
}