<div class="outer_container justify-center">
    <div class="md:inner_container items-center flex-col">
        <form
            [formGroup]="testForm"
            class="max-w-[720px] w-full flex flex-col items-center"
        >
            <div id="subCat-window" class="flex justify-between w-72 pt-4">
                <label for="subCat">Kategória:</label>
                <select
                    id="subCat"
                    formControlName="subCat"
                    class="text-center"
                >
                    <option value="anj">Angličtina</option>
                    <option value="mat">Matematika</option>
                    <option value="sjl">Slovenčina</option>
                </select>
            </div>
            <div class="flex justify-between w-72 py-4">
                <label for="year">Rok:</label>
                <input id="year" formControlName="year" placeholder=" Rok" />
                <select
                    *ngIf="testForm.get('subCat')?.value === 'anj'"
                    id="level"
                    formControlName="level"
                    class="w-10"
                >
                    <option value="B1">B1</option>
                    <option value="B2">B2</option>
                    <option value="C1">C1</option>
                </select>
            </div>

            <div formArrayName="sections" class="w-full px-4">
                <div
                    class="border-b border-ang-border_main pb-4"
                    *ngFor="
                        let section of sections.controls;
                        let sectionIndex = index
                    "
                    [formGroupName]="sectionIndex"
                >
                    <h1 class="text-center text-xl font-bold">
                        Sekcia: {{ sectionIndex + 1 }}
                    </h1>

                    <!--      IN DIV UNDER ARTICLES-->
                    <div
                        class="articleSection"
                        formArrayName="articleUrls"
                        class="flex flex-col gap-4"
                    >
                        <h2 *ngIf="getArticleUrls(sectionIndex).length > 0">
                            Článok:
                        </h2>
                        <div
                            class="flex gap-3"
                            *ngFor="
                                let articleUrl of getArticleUrls(sectionIndex)
                                    .controls;
                                let articleIndex = index
                            "
                            [formGroupName]="articleIndex"
                        >
                            <input
                                type="text"
                                formControlName="url"
                                placeholder=" Článok: {{ articleIndex + 1 }}"
                            />
                            <button
                                class="border border-red-500 bg-red-500 bg-opacity-40 text-sm rounded-lg px-2 py-0.5 hover:opacity-90"
                                type="button"
                                (click)="
                                    removeArticleUrl(sectionIndex, articleIndex)
                                "
                            >
                                Zmazať článok
                            </button>
                        </div>
                        <button
                            class="max-w-48 border border-ang-border_main bg-ang-main_btn bg-opacity-40 text-sm rounded-lg px-2 py-0.5 hover:opacity-90"
                            type="button"
                            (click)="addArticleUrl(sectionIndex)"
                        >
                            Pridať článok
                        </button>
                    </div>

                    <!--      IN DIV UNDER QUESTIONS-->
                    <div class="pt-4" formArrayName="questions">
                        <h2 *ngIf="getQuestions(sectionIndex).length > 0">
                            Otázky:
                        </h2>
                        <div
                            class="flex flex-col gap-4 py-4"
                            *ngFor="
                                let question of getQuestions(sectionIndex)
                                    .controls;
                                let questionIndex = index
                            "
                            [formGroupName]="questionIndex"
                        >
                            <div class="flex justify-between gap-3 flex-wrap">
                                <button
                                    class="border border-ang-border_main bg-ang-main_btn bg-opacity-40 text-sm rounded-lg px-2 py-0.5 hover:opacity-90"
                                    type="button"
                                    (click)="
                                        addQuestionType(
                                            sectionIndex,
                                            questionIndex,
                                            'select'
                                        )
                                    "
                                >
                                    Otázka s možnosťami
                                </button>
                                <button
                                    class="border border-ang-border_main bg-ang-main_btn bg-opacity-40 text-sm rounded-lg px-2 py-0.5 hover:opacity-90"
                                    type="button"
                                    (click)="
                                        addQuestionType(
                                            sectionIndex,
                                            questionIndex,
                                            'select_twice'
                                        )
                                    "
                                >
                                    Otázka s dvoma skupinami možností
                                </button>
                                <button
                                    type="button"
                                    class="border border-ang-border_main bg-ang-main_btn bg-opacity-40 text-sm rounded-lg px-2 py-0.5 hover:opacity-90"
                                    (click)="
                                        addQuestionType(
                                            sectionIndex,
                                            questionIndex,
                                            'input'
                                        )
                                    "
                                >
                                    Otázka s dopisovaním
                                </button>
                                <button
                                    type="button"
                                    class="border border-ang-border_main bg-ang-main_btn bg-opacity-40 text-sm rounded-lg px-2 py-0.5 hover:opacity-90"
                                    (click)="
                                        addQuestionType(
                                            sectionIndex,
                                            questionIndex,
                                            'input_twice'
                                        )
                                    "
                                >
                                    Otázka s dopisovaním dvoch viet/slov
                                </button>
                            </div>
                            <!-- Structure for 'select' question type -->
                            <div
                                class="flex flex-col"
                                *ngIf="
                                    question.get('questionType')?.value ===
                                    'select'
                                "
                            >
                                <input
                                    type="text"
                                    formControlName="text"
                                    placeholder="Zadanie"
                                />
                                <div
                                    class="grid grid-cols-[48px_1fr] auto-rows-auto"
                                >
                                    <div
                                        class="flex flex-col gap-7 pt-4 items-center"
                                    >
                                        <input
                                            class="max-w-6"
                                            *ngFor="
                                                let options of getOptions(
                                                    sectionIndex,
                                                    questionIndex
                                                ).controls;
                                                let answerIndex = index
                                            "
                                            type="radio"
                                            formControlName="answer{{
                                                questionIndex
                                            }}"
                                            [name]="'answer' + questionIndex"
                                            value="{{ answerIndex }} "
                                            checked
                                        />
                                    </div>
                                    <div formArrayName="options">
                                        <div
                                            class="py-2"
                                            *ngFor="
                                                let option of getOptions(
                                                    sectionIndex,
                                                    questionIndex
                                                ).controls;
                                                let optionIndex = index
                                            "
                                            [formGroupName]="optionIndex"
                                        >
                                            <input
                                                type="text"
                                                formControlName="option"
                                                placeholder="Možnosť {{
                                                    optionIndex + 1
                                                }}"
                                            />
                                            <button
                                                class="border border-red-500 bg-red-500 bg-opacity-40 text-sm rounded-lg px-2 py-0.5 hover:opacity-90"
                                                type="button"
                                                (click)="
                                                    removeOption(
                                                        sectionIndex,
                                                        questionIndex,
                                                        optionIndex
                                                    )
                                                "
                                            >
                                                Zmazať možnosť
                                            </button>
                                        </div>
                                        <button
                                            type="button"
                                            (click)="
                                                addOption(
                                                    sectionIndex,
                                                    questionIndex
                                                )
                                            "
                                        >
                                            Pridať možnosť
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- Structure for 'select_twice' question type -->
                            <div
                                *ngIf="
                                    question.get('questionType')?.value ===
                                    'select_twice'
                                "
                            >
                                <div class="flex flex-col gap-1">
                                    <label>Zadanie:</label>
                                    <input
                                        class="w-full"
                                        type="text"
                                        formControlName="text"
                                        placeholder="Zadanie"
                                    />
                                </div>
                                <div class="grid grid-cols-1 md:grid-cols-2">
                                    <div
                                        class="grid grid-cols-[48px_1fr] auto-rows-auto"
                                    >
                                        <div
                                            class="flex flex-col gap-7 pt-4 items-center"
                                        >
                                            <input
                                                *ngFor="
                                                    let options of getOptions(
                                                        sectionIndex,
                                                        questionIndex
                                                    ).controls;
                                                    let answerIndex = index
                                                "
                                                type="radio"
                                                formControlName="answer{{
                                                    questionIndex
                                                }}"
                                                [name]="
                                                    'answer' + questionIndex
                                                "
                                                value="{{ answerIndex }}"
                                                required
                                            />
                                        </div>
                                        <div formArrayName="options">
                                            <div
                                                class="flex gap-2 items-center"
                                                *ngFor="
                                                    let option of getOptions(
                                                        sectionIndex,
                                                        questionIndex
                                                    ).controls;
                                                    let optionIndex = index
                                                "
                                                [formGroupName]="optionIndex"
                                            >
                                                <input
                                                    class="my-2"
                                                    type="text"
                                                    formControlName="option"
                                                    placeholder="Možnosť {{
                                                        optionIndex + 1
                                                    }}"
                                                />
                                                <button
                                                    class="border border-red-500 w-6 h-6 bg-red-500 bg-opacity-40 text-sm rounded-full px-2 py-0.5 hover:opacity-90"
                                                    type="button"
                                                    (click)="
                                                        removeOption(
                                                            sectionIndex,
                                                            questionIndex,
                                                            optionIndex
                                                        )
                                                    "
                                                >
                                                    -
                                                </button>
                                            </div>
                                            <button
                                                class="border border-ang-border_main bg-ang-main_btn bg-opacity-40 text-sm rounded-lg px-2 py-0.5 hover:opacity-90"
                                                type="button"
                                                (click)="
                                                    addOption(
                                                        sectionIndex,
                                                        questionIndex
                                                    )
                                                "
                                            >
                                                + skupina 1
                                            </button>
                                        </div>
                                    </div>
                                    <div
                                        class="grid grid-cols-[48px_1fr] auto-rows-auto"
                                    >
                                        <div
                                            class="flex flex-col gap-7 pt-4 items-center"
                                        >
                                            <input
                                                *ngFor="
                                                    let options2 of getOptions2(
                                                        sectionIndex,
                                                        questionIndex
                                                    ).controls;
                                                    let answerIndex2 = index
                                                "
                                                type="radio"
                                                formControlName="answer2{{
                                                    questionIndex
                                                }}"
                                                [name]="
                                                    'answer2' + questionIndex
                                                "
                                                value="{{ answerIndex2 }}"
                                                required
                                            />
                                        </div>
                                        <div formArrayName="options2">
                                            <div
                                                class="flex gap-2 items-center"
                                                *ngFor="
                                                    let option of getOptions2(
                                                        sectionIndex,
                                                        questionIndex
                                                    ).controls;
                                                    let optionIndex2 = index
                                                "
                                                [formGroupName]="optionIndex2"
                                            >
                                                <input
                                                    class="my-2"
                                                    type="text"
                                                    formControlName="option2"
                                                    placeholder="Možnosť {{
                                                        optionIndex2 + 1
                                                    }}"
                                                />
                                                <button
                                                    class="border border-red-500 w-6 h-6 bg-red-500 bg-opacity-40 text-sm rounded-full px-2 py-0.5 hover:opacity-90"
                                                    type="button"
                                                    (click)="
                                                        removeOption2(
                                                            sectionIndex,
                                                            questionIndex,
                                                            optionIndex2
                                                        )
                                                    "
                                                >
                                                    -
                                                </button>
                                            </div>
                                            <button
                                                class="border border-ang-border_main bg-ang-main_btn bg-opacity-40 text-sm rounded-lg px-2 py-0.5 hover:opacity-90"
                                                type="button"
                                                (click)="
                                                    addOption2(
                                                        sectionIndex,
                                                        questionIndex
                                                    )
                                                "
                                            >
                                                + skupina 2
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Structure for 'input' question type -->
                            <div
                                class="flex flex-col gap-4"
                                *ngIf="
                                    question.get('questionType')?.value ===
                                    'input'
                                "
                            >
                                <div>
                                    <label>Zadanie: </label>
                                    <input
                                        class="w-full"
                                        type="text"
                                        formControlName="text"
                                        placeholder="Zadanie"
                                    />
                                </div>
                                <div>
                                    <label>Odpoveď: </label>
                                    <input
                                        class="w-full"
                                        type="text"
                                        formControlName="answer{{
                                            questionIndex
                                        }}"
                                        placeholder="Odpoveď"
                                    />
                                </div>
                            </div>
                            <!-- Structure for 'input_twice' question type -->
                            <div
                                class="flex flex-col gap-4"
                                *ngIf="
                                    question.get('questionType')?.value ===
                                    'input_twice'
                                "
                            >
                                <div class="flex flex-col gap-1">
                                    <label>Zadanie:</label>
                                    <input
                                        class="w-full"
                                        type="text"
                                        formControlName="text"
                                        placeholder="Zadanie"
                                    />
                                </div>
                                <div class="flex flex-col gap-4">
                                    <div class="flex flex-col gap-1">
                                        <label>Odpoveď 1:</label>
                                        <input
                                            class="w-full"
                                            type="text"
                                            formControlName="answer{{
                                                questionIndex
                                            }}"
                                            placeholder="Odpoveď 1"
                                        />
                                    </div>
                                    <div class="flex flex-col gap-1">
                                        <label>Odpoveď 2:</label>
                                        <input
                                            class="w-full"
                                            type="text"
                                            formControlName="answer2{{
                                                questionIndex
                                            }}"
                                            placeholder="Odpoveď 2"
                                        />
                                    </div>
                                </div>
                            </div>
                            <button
                                class="border max-w-48 border-red-500 bg-red-500 bg-opacity-40 text-sm rounded-lg px-2 py-0.5 hover:opacity-90"
                                type="button"
                                (click)="
                                    removeQuestion(sectionIndex, questionIndex)
                                "
                            >
                                Zmazať otázku
                            </button>
                        </div>
                        <button
                            class="my-4 border border-ang-border_main bg-ang-main_btn bg-opacity-40 text-sm rounded-lg px-2 py-0.5 hover:opacity-90"
                            type="button"
                            (click)="addQuestion(sectionIndex)"
                        >
                            Pridať otázku
                        </button>
                    </div>

                    <button
                        class="border border-red-500 bg-red-500 bg-opacity-40 text-sm rounded-lg px-2 py-0.5 hover:opacity-90"
                        type="button"
                        (click)="removeSection(sectionIndex)"
                    >
                        Zmazať sekciu
                    </button>
                </div>
            </div>
            <button
                class="border border-ang-border_main bg-ang-main_btn bg-opacity-40 text-sm rounded-lg px-2 py-0.5 hover:opacity-90 my-4"
                type="button"
                (click)="addSection()"
            >
                Pridať sekciu
            </button>
        </form>
        <button
            class="border-2 border-ang-border_main mb-2 py-2 px-6 bg-ang-main_btn text-ang-text_white rounded-lg hover:opacity-85 transition"
            type="submit"
            (click)="onSubmit()"
            [disabled]="testForm.invalid"
        >
            Odoslať test
        </button>
    </div>
</div>
