<div id="main_page_container" class="h-auto">
  <div id="main_page_inner_container">
    <div class="textare">
      <h1>
        Matu-E je inovatívna a študentom prispôsobená webová aplikácia, ktorá
        ponúka:
      </h1>
    </div>

    <section id="main_card_container">
      <div id="main_first_card" class="main_card_containers">
        <img
          id="main_first_card_icon"
          class="main_card_icon"
          src="assets/test_icon.png"
          alt="Test icon"
          height="50px"
          width="50px"
        />
        <div id="main_first_card_textarea" class="main_card_textareas">
          <p>
            Otestovanie sa a riešenie maturitných testov online formou! Moderná
            doba totiž vyžaduje moderné riešenia, už žiadne pero a papier.
          </p>
        </div>
      </div>
      <div id="main_second_card" class="main_card_containers">
        <img
          id="main_second_card_icon"
          class="main_card_icon"
          src="assets/book_icon.png"
          alt="Test icon"
          height="50px"
          width="50px"
        />
        <div id="main_second_card_textarea" class="main_card_textareas">
          <p>
            Rýchly prístup k učivu a prehľadné poznámky sú zárukou k úspešnej
            maturite a práve o tieto poznámky sa s vami podelíme.
          </p>
        </div>
      </div>
      <div id="main_third_card" class="main_card_containers">
        <img
          id="main_third_card_icon"
          class="main_card_icon"
          src="assets/community_icon.png"
          alt="Test icon"
          height="50px"
          width="50px"
        />
        <div id="main_third_card_textarea" class="main_card_textareas">
          <p>
            Spojte sa s ostatnými maturantmi, zdielajte medzi sebou skúsenosti,
            raďte sa a podporujte navzájom. Spoločne zdolávame cestu k maturite.
          </p>
        </div>
      </div>
      <div id="main_fourth_card" class="main_card_containers">
        <img
          id="main_fourth_card_icon"
          class="main_card_icon"
          src="assets/graduation_icon.png"
          alt="Test icon"
          height="50px"
          width="50px"
        />
        <div id="main_fourth_card_textarea" class="main_card_textareas">
          <p>
            Precvičujte sa s testami z minulých ročníkov a pripravte sa na
            všetky aspekty maturity. Naše zdroje vám pomôžu zdokonaliť vaše
            vedomosti.
          </p>
        </div>
      </div>
    </section>
  </div>
</div>
