<div *ngIf="articleWithQuestions" id="main_page_container">
  <div *ngFor="let articleQuestion of articleWithQuestions" class="test">
    <div class="article">
      <img [src]="articleQuestion.article.url" />
    </div>
    <div *ngFor="let question of articleQuestion.questions" class="question">
      <div *ngIf="question.text || question.image" class="questions">
        <div class="test_question">
          <p class="question_id">{{ question.id }}.</p>
          <div class="question_content">
            <div class="queston_with_star">
              <p
                *ngIf="question.text"
                [innerHTML]="question.text"
                class="question_text"
              ></p>
              <p
                *ngIf="authService.isLoggedIn"
                (click)="toggleStar(question)"
                class="star"
                [innerHTML]="question.isStarFilled ? '&#9733;' : '&#9734;'"
              ></p>
            </div>
            <div class="question_image_container">
              <img
                *ngIf="question.image"
                class="question_image"
                [src]="question.image"
              />
            </div>
          </div>
        </div>
        <ng-container *ngIf="question.text === 'Zrušená otázka'">
        </ng-container>
        <ng-container
          *ngIf="
            isTextInput(question) && question.text !== 'Zrušená otázka';
            else radioOptions
          "
        >
          <input
            type="text"
            class="input_text"
            placeholder="Sem napíšte svoju odpoveď"
            [(ngModel)]="question.userAnswer"
          />
        </ng-container>
        <ng-template #radioOptions>
          <div *ngFor="let option of question.options" class="radio_options">
            <input
              [name]="question.id"
              type="radio"
              [value]="option"
              [id]="option"
              [(ngModel)]="question.userAnswer"
            />
            <label [for]="option" [innerHTML]="option"></label>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <button
    (click)="showDialog()"
    class="border-2 border-ang-border_main mt-2 py-2 px-6 bg-ang-main_btn text-ang-text_white rounded-lg hover:opacity-85 transition"
  >
    Vyhodnotenie
  </button>
  <div
    id="dialog"
    class="fixed left-0 top-0 w-screen h-screen bg-opacity-40 bg-black justify-center items-center hidden"
  >
    <div
      class="bg-ang-main_bg border border-ang-border_main p-8 w-4/6 rounded-lg max-w-[32rem]"
    >
      <div
        class="flex justify-center items-center flex-col gap-4 text-sm md:text-base"
      >
        <h1>Vyhodnotenie</h1>
        <p>V teste ste dosiahli:</p>
        <p [innerText]="formattedPercentage"></p>
      </div>
      <div class="flex justify-around text-xs md:text-base gap-2 pt-4">
        <button
          routerLink="/"
          class="text-sm border border-ang-border_main py-1 px-2 rounded-lg bg-ang-main_btn text-ang-text_white hover:opacity-85"
        >
          Domovská stránka
        </button>
        <button
          routerLink="/saved-tests-page"
          class="border border-ang-border_main py-1 px-2 rounded-lg bg-ang-main_btn text-ang-text_white hover:opacity-85"
        >
          Detaily testu
        </button>
      </div>
    </div>
  </div>
</div>
