<div class="main_container" [class.light]="!isDarkMode" [class.dark]="isDarkMode">
  <div class="inner-page-container">
    <div class="subjects" value="sjl">
      <button (click)="toggleShowSjlNotes()">
        <p>Slovenský jazyk</p>
      </button>
      <div *ngIf="showSjlNotes">
        <ul>
          <li *ngFor="let material of sjlMaterials">
            <a [href]="material.url" target="_blank" [class.light]="!isDarkMode" [class.dark]="isDarkMode">
              <img src="/assets/pdf_icon.png" alt="pdf_icon" /> {{ material.text }}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="subjects" value="anj">
      <button (click)="toggleShowAnjNotes()">
        <p>Anglický jazyk</p>
      </button>
      <div *ngIf="showAnjNotes">
        <ul>
          <li *ngFor="let material of anjMaterials">
            <a [href]="material.url" target="_blank" [class.light]="!isDarkMode" [class.dark]="isDarkMode">
              <img src="/assets/pdf_icon.png" alt="pdf_icon" /> {{ material.text }}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="subjects" value="math">
      <button (click)="showMatNotes = !showMatNotes">
        <p>Matematika</p>
      </button>
      <div class="mat" *ngIf="showMatNotes">
        <a href="https://firebasestorage.googleapis.com/v0/b/maturity-project.appspot.com/o/Education_materials%2FMAT%2Fteoria_matematiky.pdf?alt=media&token=14532f18-a7e9-441b-a750-7f83ad1de88a"
          target="_blank" [class.light]="!isDarkMode" [class.dark]="isDarkMode"><img src="/assets/pdf_icon.png"
            alt="pdf_icon" />Teória matematiky</a>
      </div>
    </div>
  </div>
</div>