<div class="subjects" value="sjl">
    <button (click)="showSjlNotes = !showSjlNotes"><p>Slovenský jazyk</p></button>
    <div *ngIf="showSjlNotes">
        <ul>
            <li>
<a href="https://firebasestorage.googleapis.com/v0/b/maturity-project.appspot.com/o/Education_materials%2FSJL%2FMATURITN%C3%89-OKRUHY-SJL.docx?alt=media&token=e188d291-b9e7-4b97-bdc3-6adf525742ba">SJL_MATURITNE_OKRUHY</a>
     
            </li>
            <li>
<a href="https://firebasestorage.googleapis.com/v0/b/maturity-project.appspot.com/o/Education_materials%2FSJL%2FRozbory-diel-SJL.docx?alt=media&token=242329cc-bf1c-4d5d-a2d7-3b45e82e70ab">Rozbory
            diel</a>
            </li>
        </ul>
                   
            
    </div>
</div>
<div class="subjects" value="anj">
    <button (click)="showAnjNotes = !showAnjNotes"><p>Anglický jazyk</p></button>
    <div *ngIf="showAnjNotes">
    </div>
</div>
<div class="subjects" value="math">
    <button (click)="showMatNotes = !showMatNotes"><p>Matematika</p></button>
    <div class="mat" *ngIf="showMatNotes">
        <a
            href="https://firebasestorage.googleapis.com/v0/b/maturity-project.appspot.com/o/Education_materials%2FMAT%2Fteoria_matematiky.pdf?alt=media&token=52be15d1-1cb9-4e0a-b8f3-2fdba2439ac8">Teória matematiky</a>
    </div>
</div>