<div id="main_page_container" class="outer_container">
    <div
        id="main_page_inner_container"
        class="inner_container items-center justify-evenly flex-col sm:flex-row p-4 gap-4 text-zinc-900 dark:text-white"
    >
        <div
            class="border border-ang-border_main bg-third_landing_page_card bg-cover h-80 rounded-lg text-center p-4 max-w-[440px] shadow-2xl"
        >
            <div
                class="bg-white h-full bg-opacity-60 rounded-lg border border-white flex items-center justify-around flex-col px-2"
            >
                <h1 class="text-2xl">Konštrukcia pomocou JSON</h1>
                <p>Pridanie testu do databázy pomocou JSON formátu</p>
                <button
                    routerLink="/json-constructor"
                    class="border-2 border-ang-border_main py-2 px-6 bg-ang-main_btn text-ang-text_white rounded-lg hover:opacity-85 transition"
                >
                    Presmerovať
                </button>
            </div>
        </div>
        <div
            class="border border-ang-border_main bg bg-third_landing_page_card bg-cover h-80 rounded-lg text-center p-4 max-w-[440px] shadow-2xl"
        >
            <div
                class="bg-white h-full bg-opacity-60 rounded-lg border border-white flex items-center justify-around flex-col px-2"
            >
                <h1 class="text-2xl">Konštrukcia pomocou formuláru</h1>
                <p>Pridanie testu do databázy formou dopĺňania textu do políčok</p>
                <button
                    routerLink="/custom-constructor"
                    class="border-2 border-ang-border_main py-2 px-6 bg-ang-main_btn text-ang-text_white rounded-lg hover:opacity-85 transition"
                >
                    Presmerovať
                </button>
            </div>
        </div>
    </div>
</div>
