<div id="main_page_container" class="outer_container">
    <div
        id="main_page_inner_container"
        class="inner_container items-center justify-evenly flex-col sm:flex-row p-4 gap-4 text-zinc-900 dark:text-white"
    >
        <div
            class="border border-ang-border_main bg-ang-gradient_to bg-opacity-40 h-80 flex items-center justify-around flex-col rounded-lg text-center p-4 max-w-[440px]"
        >
            <h1 class="text-2xl">Json test</h1>
            <p>Pridanie testu do databázy pomocou JSON formátu</p>
            <button
                routerLink="/json-constructor"
                class="border border-ang-border_main px-3 py-1.5 rounded-md hover:cursor-pointer hover:scale-110 transition-all bg-ang-main_btn"
            >
                Presmerovať
            </button>
        </div>
        <div
            class="border border-ang-border_main bg-ang-gradient_to bg-opacity-40 h-80 flex items-center justify-around flex-col rounded-lg text-center p-4 max-w-[440px]"
        >
            <h1 class="text-2xl">Select test</h1>
            <p>Pridania testu do databázy pomocou vyklikavania políčok</p>
            <button
                routerLink="/custom-constructor"
                class="border border-ang-border_main px-3 py-1.5 rounded-md hover:cursor-pointer hover:scale-110 transition-all bg-ang-main_btn"
            >
                Presmerovať
            </button>
        </div>
    </div>
</div>
