<div class="years-page-container">
  <div class="years-page-inner-container">
    <div class="subcat-title-container">
      <h1>Maturitné testy: {{ titleBySubcat(subCat) }}</h1>
    </div>
    <div class="year-buttons-container" *ngIf="years">
      <a
        class="year-buttons"
        *ngFor="let year of years"
        [routerLink]="['/test-page', subCat, year]"
      >
        {{ year }}
      </a>
    </div>
    <div *ngIf="(!years || years.length == 0) && !loading">
      <p>K dispozícii niesu žiadne testy</p>
    </div>
    <div *ngIf="loading">
      <p>Načítavanie...</p>
    </div>
  </div>
</div>
