:host(app-years-page) {
  height: calc(100% - 6rem);
  width: 100%;
}

.main_container {
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  height: 100%;
  border: 1px solid var(--border-color-light);
  box-shadow: 0 0 10px var(--box-shadow-color-light);
}

.main_container.light {
  background-color: var(--main-bg-color-light);
  color: var(--text-color-light);
}

.main_container.dark {
  background-color: var(--main-bg-color-dark);
  color: var(--text-color-dark);
}

.years_headline {
  height: 50%;
}

.years_headline.light {
  color: var(--main-blue-color);
}

.years_headline.dark {
  color: var(--account-border-color-dark);
}


.years_headline div {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.years_headline div ul {
  font-size: 1.1rem;
  list-style-type: square;
}

.years_headline h1 {
  text-align: center;
}

.main_page_container {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.main_page_container>a {
  width: 10rem;
  height: 2.5rem;
  background-color: var(--main-blue-color);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fbfef9;
  text-decoration: none;
  border-radius: 10px;
  font-size: 1.2rem;
}

.main_page_container>a:hover,
.main_page_container>a:focus {
  opacity: 85%;
}