:host(app-years-page) {
  height: calc(100% - 6rem);
  width: 100%;
  border: 1px solid var(--border-color-light);
  border-radius: 10px;
  box-shadow: 0 0 10px var(--box-shadow-color-light);
  background-color: var(--main-bg-color-light);
  display: flex;
  align-items: center;
  padding: 2rem;
}

.main_page_container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.main_page_container>a {
  width: 10rem;
  height: 2.5rem;
  background-color: var(--main-blue-color-light);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FBFEF9;
  text-decoration: none;
  border-radius: 10px;
  font-size: 1.2rem;
}

.main_page_container>a:hover,
.main_page_container>a:focus {
  opacity: 85%;
}