<div class="outer_container justify-center px-2">
    <div
        class="md:inner_container pt-6 justify-center gap-4 dark:text-ang-text_white"
    >
        <div class="loading">
            <div *ngIf="isLoading" class="lds-ellipsis">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div
            *ngIf="!isLoading && authServ.isLoggedIn"
            class="test-history-page-header"
        >
            <div *ngFor="let test of savedTests" class="py-4">
                <div
                    class="flex-col gap-4 items-center justify-center border border-ang-border_main max-w-[720px] rounded-md"
                >
                    <div
                        class="px-12 py-2 text-center font-semibold text-ang-text_main"
                    >
                        <h2>
                            {{
                                "Test " +
                                    test.subCat.toUpperCase() +
                                    " " +
                                    test.year +
                                    " z " +
                                    test.finishedAt
                            }}
                        </h2>
                        <h3>
                            {{
                                "Vyhotovený za " +
                                    test.timeTaken +
                                    ", s úspešnosťou: " +
                                    test.percentageScore +
                                    "%"
                            }}
                        </h3>
                    </div>
                    <div *ngIf="test.showResults" class="px-2" [@fade]>
                        <div
                            *ngFor="let section of test.sections; let i = index"
                        >
                            <div
                                *ngFor="
                                    let result of section.results;
                                    let j = index
                                "
                            >
                                <div
                                    *ngIf="result.userAnswer"
                                    class="py-2 border-b border-ang-border_main"
                                >
                                    <div class="flex gap-4 py-2 items-center">
                                        <p
                                            [innerHTML]="result.id"
                                            class="bg-slate-400 px-2 py-0.5 h-fit"
                                        ></p>
                                        <p
                                            [innerHTML]="
                                                selectedTest.sections[i]
                                                    .questions[j].text
                                            "
                                        ></p>
                                    </div>
                                    <div
                                        *ngFor="
                                            let option of selectedTest.sections[
                                                i
                                            ].questions[j].options
                                        "
                                    >
                                        <p
                                            [innerHTML]="option"
                                            class="py-0.5"
                                        ></p>
                                    </div>
                                    <p>Vaša odpoveď:</p>
                                    <span
                                        [innerHTML]="result.userAnswer"
                                        *ngIf="result.result; else wrongAnswer"
                                        class="text-green-500"
                                    ></span>
                                    <ng-template #wrongAnswer>
                                        <span
                                            class="text-red-600"
                                            [innerHTML]="result.userAnswer"
                                        ></span>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="text-center"
                    (click)="
                        (test.showResults = !test.showResults) &&
                            selectTest(test)
                    "
                >
                    <div
                        *ngIf="!test.showResults"
                        class="material-symbols-outlined bg-ang-main_btn rounded-b-lg px-3 hover:cursor-pointer text-white"
                    >
                        expand_more
                    </div>
                    <div
                        *ngIf="test.showResults"
                        class="material-symbols-outlined rotate-180 bg-ang-main_btn rounded-t-lg hover:cursor-pointer px-3 text-white"
                    >
                        expand_more
                    </div>
                </div>
            </div>
        </div>
        <div
            class="flex items-center justify-center w-full"
            *ngIf="!isLoading && !authServ.isLoggedIn"
        >
            <h1 class="text-2xl text-ang-text_main">
                Pre ukladanie testov je potrebné sa prihlásiť.
            </h1>
        </div>
        <div
            *ngIf="isSavedTestsEmpty && authServ.isLoggedIn"
            class="flex items-center justify-center w-full"
        >
            <h1 class="text-2xl text-ang-text_main">
                Pre zobrazenie testov je potrebné vyplniť aspoň jeden test
            </h1>
        </div>
        <span
            *ngIf="isShow"
            class="hover:cursor-pointer material-symbols-outlined fixed bottom-10 right-14 border border-ang-border_main rounded-full p-1 text-ang-text_main"
            (click)="scrollTop()"
        >
            arrow_upward
        </span>
    </div>
</div>
