:host(app-login-page) {
    height: calc(100% - 6rem);
    width: 100%;
}

.main_container {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
    border-radius: 10px;
  width: 100%;
  height: 100%;
}

.login_card {
    background: url("/assets/waves_login.png");
    background-size: cover;
    background-color: var(--auth-bg-color-light);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: clamp(20rem, 25rem, 35rem);
    height: clamp(15rem, 30rem, 35rem);
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 3px 3px 10px 3px var(--box-shadow-color-light);
}
.main_container.light {
    background-color: var(--main-bg-color-light);
}
.main_container.dark {
    background-color: var(--main-bg-color-dark);
}

.input_group {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 0.5rem;
    border-radius: 5px;
    border: 2px solid #4363b58d;
    padding: 5px;
}


label {
    margin-bottom: 0.5rem;
}

.login_cred {
    height: 2.5rem;
}

.utils {
    display: flex;
    justify-content: space-between;
}

.remember {
    display: flex;
    align-items: center;
    padding-top: 8px;
}

.remember input {
    margin-left: 5px;
    margin-bottom: 6px;
}

/**bot section*/

.bot_section {
    display: flex;
    justify-content: space-between;
}

.bot_button {
    padding: 0.5rem 0.8rem 0.5rem 0.8rem;
    border: 0.1rem rgb(104, 135, 240) solid;
    font: inherit;
    font-size: 16px;
    color: black;
    border-radius: 10px;
    background-color: var(--button-white-bg-light);
    cursor: pointer;
    overflow: hidden;
    box-shadow: 1px 1px 5px var(--box-shadow-color-light);
    font-weight: 400;
}

.bot_button:hover,
.bot_button:focus {
    background-color: #c6d4ff;
}

.mid_section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button {
    background-color: #FBFEF9;
    color: #000000;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.login-button:hover {
    background-color: #d9d9d9;
}

.error-border {
    border: 2px solid var(--main-error-message-light);
}

.error_message {
    visibility: hidden;
}

.error_message_on {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-error-message-light);
    font-weight: 800;
    font-size: 1.2rem;
}

.forgot-password {
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background: transparent;
    font-size: 1rem;
}

.forgot-password:hover,
.forgot-password:focus {
    color: #0e2766;
}