<div class="outer_container">
    <div class="inner_container justify-center items-center">
        <div
            class="flex md:h-[32rem] flex-col items-center justify-between border gap-4 border-ang-border_main py-4 m-2 rounded-lg max-w-[30rem] w-full bg-gradient-to-t from-ang-gradient_from to-ang-gradient_to"
        >
            <div
                class="flex flex-col text-center md:items-center gap-2 w-full px-2"
            >
                <label
                    for="meno"
                    class="text-xl font-semibold text-ang-text_white"
                    >Prihlasovaci email</label
                >
                <input
                    (ngModelChange)="newInput()"
                    type="text"
                    [(ngModel)]="name"
                    name="meno"
                    [class]="{ 'border-red-700': error }"
                    id="meno"
                    required
                    class="py-1 px-2 rounded-md border border-ang-border_main md:w-72"
                    placeholder="Zadaj svoj email"
                />

                <label
                    for="heslo"
                    class="text-xl font-semibold text-ang-text_white"
                    >Heslo</label
                >
                <input
                    (ngModelChange)="newInput()"
                    type="password"
                    [(ngModel)]="password"
                    name="heslo"
                    [class]="{ 'border-red-700': error }"
                    id="heslo"
                    required
                    class="py-1 px-2 rounded-md border border-ang-border_main md:w-72"
                    placeholder="Zadaj svoje heslo"
                />
            </div>
            <div
                class="flex text-sm justify-evenly items-start w-full md:px-16 text-ang-text_white font-semibold"
            >
                <button routerLink="/forgot-password">Zabudnuté heslo</button>

                <div class="flex items-center gap-1">
                    <label
                        for="rememberMe"
                        class="hover:opacity-95 hover:cursor-pointer"
                        >zapamätaj si ma</label
                    >
                    <input
                        type="checkbox"
                        name="rememberMe"
                        class="mt-1"
                        id="rememberMe"
                        [(ngModel)]="rememberMe"
                    />
                </div>
            </div>
            <div
                class="opacity-0 font-semibold text-xl"
                [class]="{ 'text-red-600': error, 'opacity-100': error }"
            >
                <p>Nesprávne zadané údaje</p>
            </div>
            <div>
                <button
                    (click)="signInWithGoogle()"
                    class="flex items-center gap-2 mx-1 px-3 py-2 rounded-lg bg-ang-text_white hover:opacity-95 border border-ang-text_white"
                >
                    <img
                        src="assets/googleicon.png"
                        alt="googleicon"
                        width="32px"
                        height="32px"
                    />
                    Prihlásiť sa cez google
                </button>
            </div>

            <div class="flex justify-evenly items-center w-full">
                <button
                    (click)="login()"
                    type="submit"
                    class="border border-ang-border_main px-3 py-1 text-ang-text_main font-semibold hover:opacity-85 rounded-lg bg-white"
                >
                    Prihlásiť
                </button>
                <button
                    routerLink="/register"
                    class="border border-ang-border_main px-3 py-1 text-ang-text_main font-semibold hover:opacity-85 rounded-lg bg-white"
                >
                    Registrácia
                </button>
            </div>
        </div>
    </div>
</div>
