<nav
  id="nav_menu"
  class="bg-ang-main_bg border dark:bg-zinc-850 dark:text-ang-text_white border-ang-border_main rounded-b-lg border-t-0 w-[17rem] sm:w-80"
>
  <ul>
    <li id="nav_menu_home" routerLink="/">
      <img src="assets/icons/home.png" alt="" width="28px" height="28px" />Domov
    </li>
    <ul id="nav_menu_tests" class="expandable_ul" (click)="changeSubCat()">
      <img
        src="assets/icons/tests.png"
        alt=""
        width="28px"
        height="28px"
      />Maturitné testy
    </ul>
    <div [ngClass]="{ displayed: displayed, hidden: !displayed }">
      <li (click)="addSubCat('sk')" class="text-sm h-8">
        Slovenský jazyk a literatúra
      </li>
      <li (click)="addSubCat('aj')" class="text-sm h-8">Anglický jazyk</li>
      <li (click)="addSubCat('mat')" class="text-sm h-8">Matematika</li>
    </div>
    <li id="nav_menu_scripts" routerLink="/education-materials">
      <img
        src="assets/icons/notes.png"
        alt=""
        width="28px"
        height="28px"
      />Učebné materiály
    </li>
    <li
      id="nav_menu_savedtests"
      class="border-0 hover:rounded-b-lg"
      routerLink="/saved-tests-page"
    >
      <img src="assets/icons/saved.png" alt="" width="28px" height="28px" />
      História testov
    </li>
  </ul>
</nav>
