<div id="main_page_container">
  <div id="main_page_inner_container">

    <div id="main_logo">

    </div>

    <section id="main_card_container">
      <div id="main_first_card" class="main_card_containers">
        <p id="main_first_card_icon"></p>
        <div id="main_first_card_textarea">
          <p></p>
        </div>
      </div>
      <div id="main_second_card" class="main_card_containers">
        <p id="main_second_card_icon"></p>
        <div id="main_second_card_textarea">
          <p></p>
        </div>
      </div>
      <div id="main_third_card" class="main_card_containers">
        <p id="main_third_card_icon"></p>
        <div id="main_third_card_textarea">
          <p></p>
        </div>
      </div>
      <div id="main_fourth_card" class="main_card_containers">
        <p id="main_fourth_card_icon"></p>
        <div id="main_fourth_card_textarea">
          <p>Spojte sa s ostatnými maturantmi a vymeňte si medzi sebou skúsenosti či poznámky.
            Radte sa a podporujte navzájom, spoločne zdoláte cestu k maturite!</p>
        </div>
      </div>
    </section>
  </div>
</div>