<div *ngIf="test">
<!--  ANJ Test-->
  <div *ngIf="subCat === 'anj'">
    <div *ngFor="let section of test.sections">
      <div>
        <img [src]="section.article_url"/>
<!--        Questions start -->
        <div *ngFor="let question of section.questions">
          <p [innerHTML]="question.id"></p>
          <p *ngIf="question.text" [innerHTML]="question.text"></p>
          <img *ngIf="question.image_url" [src]="question.image_url" />
<!--          Typical questions with radio buttons -->
          <div *ngIf="question.question_type === 'select_one'">
            <div *ngFor="let option of question.options">
              <input
                  [name]="question.id"
                  type="radio"
                  [value]="option"
                  [id]="option"
              />
              <label [for]="option" [innerHTML]="option"></label>
            </div>
          </div>
<!--          Typical questions with input answers -->
          <div *ngIf="question.question_type === 'input'">
            <input
                type="text"
                placeholder="Sem napíšte svoju odpoveď"
            />
          </div>
<!--          Questions based on 2 options -->
          <div *ngIf="question.question_type === 'select_twice'">
            <div *ngFor="let option_1 of question.options_1">
              <input
                [name]="question.id"
                type="radio"
                [value]="option_1"
                [id]="option_1 + question.id"
              />
              <label [for]="option_1 + question.id" [innerHTML]="option_1"></label>
            </div>
            <div *ngFor="let option_2 of question.options_2">
              <input
                [name]="question.id"
                type="radio"
                [value]="option_2"
                [id]="option_2 + question.id"
              />
              <label [for]="option_2 + question.id" [innerHTML]="option_2"></label>
            </div>
          </div>
<!--          Question canceled -->
          <div *ngIf="question.question_type === 'canceled'">
            <p>Question canceled by NUCEM</p>
          </div>
<!--          Questions end -->
        </div>
      </div>
    </div>
  </div>
<!--  SJL Test-->
  <div *ngIf="subCat === 'sjl'">
    <span>toto je slovencina</span>
  </div>
  <div *ngIf="subCat === 'mat'">
    <span>toto je mat</span>
  </div>
</div>
