<div
  class="bg-ang-main_bg rounded-lg h-full flex w-full border border-ang-border_main"
>
  <div class="inner_container items-center justify-center p-2">
    <div
      class="border border-ang-border_main rounded-lg flex flex-col justify-around h-2/3 px-2 md:px-4 bg-ang-border_main text-ang-text_white"
    >
      <div>
        <h2 class="text-xl font-bold">Resetovanie zabudnutého hesla</h2>
        <p>zadaj svoj email a príde ti link na mail na resetovanie hesla</p>
      </div>
      <div class="text-center text-red-600 font-bold" *ngIf="isError">
        <p>{{ errorMessage }}</p>
      </div>
      <div class="flex flex-col gap-4 justify-center items-center">
        <input
          class="rounded-sm w-3/4 py-1"
          type="email"
          placeholder="Zadaj svoj email"
          [(ngModel)]="email"
        />
        <button
          class="border border-ang-main_bg px-4 py-1 rounded-lg hover:opacity-85 mb-2 sm:mb-0 bg-ang-main_bg text-ang-text_main"
          (click)="sendPasswordResetEmail()"
        >
          Odošli
        </button>
      </div>
    </div>
  </div>
</div>
