<div class="main_container">
  <div class="forgot-password-card">
    <div class="top_section">
      <h2>Resetovanie zabudnutého hesla</h2>
      <p>zadaj svoj email a príde ti link na mail na resetovanie hesla</p>
    </div>
    <div
      [class]="isError ? 'error_message_on' : 'error_message'"
      *ngIf="isError"
    >
      <p>{{ errorMessage }}</p>
    </div>
    <div class="bot_section">
      <input type="email" placeholder="Zadaj svoj email" [(ngModel)]="email" />
      <button (click)="sendPasswordResetEmail()">Odošli</button>
    </div>
  </div>
</div>
