@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@layer components {
    app-navbar li,
    app-navbar .expandable_ul {
        @apply text-lg shadow-lg border-b border-ang-border_main flex items-center pl-[20%] h-12 gap-2 hover:cursor-pointer hover:bg-ang-main_btn;
    }

    .inner_container {
        @apply flex m-4 rounded-lg w-full h-auto shadow-inner_sh;
    }

    .outer_container {
        @apply bg-ang-main_bg rounded-lg min-h-[28rem] h-full flex w-full border border-ang-border_main;
    }

    app-landing-page .main_card_containers {
        @apply flex flex-col items-center justify-around text-base h-[22rem] w-min rounded-lg px-2 m-2 hover:scale-105 transition;
    }

    app-landing-page .main_card_textareas {
        @apply rounded-lg h-48 py-1 lg:h-44 w-40 lg:w-52 bg-white  flex justify-center text-center;
    }
    .profileLeftCard {
        @apply bg-ang-gradient_to w-52 sm:w-64 bg-opacity-25 px-4 py-4 lg:w-72 rounded-t-lg lg:rounded-t-none lg:rounded-l-lg lg:rounded-tl-lg;
    }
    .profileMiddleCard {
        @apply bg-ang-gradient_to bg-opacity-25 px-4 py-4 w-52 sm:w-64 lg:w-72;
    }
    .profileRightCard {
        @apply bg-ang-gradient_to bg-opacity-25 px-4 py-4 w-52 sm:w-64 lg:w-72 rounded-b-lg lg:rounded-b-none lg:rounded-r-lg lg:rounded-br-lg;
    }
    app-custom-test-constructor-page input,
    app-custom-test-constructor-page select {
        @apply border border-ang-border_main rounded-lg w-48 pl-1;
    }
}

@layer base {
    :root {
        --color-gradient_from: 196deg 95% 50%;
        --color-gradient_to: 226deg 85% 51%;
        --color-main_bg: 0deg 0% 99%;
        --color-text-blue: 213deg 100% 60%;
        --color-text_white: 0deg 0% 99%;
        --color-border_main: 213deg 100% 60%;
        --color-btn_bg: 213deg 100% 60%;
    }

    :root.dark {
        --color-main_bg: 240deg 2% 22%;
        --color-text-blue: 0deg 0% 99%;
    }
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}
