<div id="main_page_container" class="outer_container">
    <div class="inner_container items-center justify-center gap-10 flex-col">
        <h1 class="text-6xl font-bold text-ang-text_main">404</h1>
        <h2 class="text-2xl text-ang-text_main">
            Je nám ľuto ale stránka sa nenašla
        </h2>
        <button
            routerLink="/"
            class="w-fit text-white px-12 flex justify-center py-1.5 border-2 bg-ang-main_btn border-ang-border_main rounded-lg hover:cursor-pointer overflow-hidden hover:opacity-90 transition shadow-md"
        >
            Domovská stránka
        </button>
    </div>
</div>
