

.main_container {
  border-radius: 10px;
  display: flex;
  border-radius: 10px;
  width: 100%;
  justify-content: space-around;
  border: 1px solid var(--border-color-light);
  box-shadow: 0 0 10px var(--box-shadow-color-light);
  height: 100%;
}

.main_container.light {
  background-color: var(--main-bg-color-light);
}

.main_container.dark {
  background-color: var(--main-bg-color-dark);
}

.inner-page-container {
  display: flex;
  justify-content: space-evenly;
  box-shadow: inset 0 0 12px var(--box-shadow-color-light);
  margin: 1.5rem;
  border-radius: 10px;
  width: 100%;
}

button {
  background-color: var(--main-blue-color);
  transition: width 0.7s ease-in-out;
  border-radius: 10px;
  box-shadow: 1px 1px 5px var(--box-shadow-color-light);
  margin-top: 2rem;
  color: white;
  width: 18rem;
  height: 3.5rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  font-size: 2rem;
  text-align: center;
  border: none;
}

p {
  position: relative;
  z-index: 1;
}

button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 100%;
  background-color: var(--account-button-hover-color-light);
  transition: width 0.7s ease-in-out;
}

button:hover:before {
  width: 101%;
}

.subjects {
  max-width: 18rem;
  max-height: 36rem;
  gap: 1rem;
}

.mat {
  padding-top: 1rem;
}

.mat>a {
  font-size: 1rem;
}

ul {
  list-style: none;
}

li {
  padding-top: 1rem;
}

img {
  width: 0.8rem;
  height: auto;
  margin-right: 0.5rem;
}

a {
  color: var(--main-text-color-light);
  text-decoration: none;
  font-weight: bold;
}

a.dark {
  color: var(--main-text-color-dark);
}

a:hover,
a:focus {
  color: var(--account-button-hover-color-light);
}

@media (max-width: 1024px) {
  .inner-page-container {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 400px) {
  button {
    width: 14rem;
    font-size: 1.5rem;
  }
}