<div
  class="bg-ang-main_bg rounded-lg h-auto min-h-full flex justify-evenly w-full border border-ang-border_main"
>
  <div
    class="flex flex-wrap justify-around sm:m-5 sm:p-4 sm:rounded-lg sm:shadow-inner_sh sm:w-full gap-2"
  >
    <div>
      <button
        (click)="toggleShowSjlNotes()"
        class="border border-ang-border_main rounded-lg mt-4 bg-ang-main_btn text-ang-text_white px-4 py-2 md:px-8 hover:opacity-85"
      >
        Slovenský jazyk
      </button>
      <div *ngIf="showSjlNotes" class="flex flex-col w-40">
        <div *ngFor="let material of sjlMaterials">
          <a
            [href]="material.url"
            target="_blank"
            class="flex items-center text-xs py-1 gap-2"
          >
            <img src="/assets/pdf_icon.png" alt="pdf_icon" class="h-6 w-auto" />
            <p class="text-ang-text_main font-semibold hover:opacity-85">
              {{ material.text }}
            </p>
          </a>
        </div>
      </div>
    </div>

    <div>
      <button
        (click)="toggleShowAnjNotes()"
        class="border border-ang-border_main rounded-lg mt-4 bg-ang-main_btn text-ang-text_white px-4 py-2 md:px-8 hover:opacity-85"
      >
        Anglický jazyk
      </button>
      <div *ngIf="showAnjNotes" class="flex flex-col w-20">
        <div *ngFor="let material of anjMaterials">
          <a
            [href]="material.url"
            target="_blank"
            class="flex items-center text-xs py-1 gap-2"
          >
            <img src="/assets/pdf_icon.png" alt="pdf_icon" class="h-6 w-auto" />
            <p class="text-ang-text_main font-semibold hover:opacity-85">
              {{ material.text }}
            </p>
          </a>
        </div>
      </div>
    </div>

    <div>
      <button
        (click)="toggleShowMatNotes()"
        class="border border-ang-border_main rounded-lg mt-4 bg-ang-main_btn text-ang-text_white px-4 py-2 md:px-8 hover:opacity-85"
      >
        Matematika
      </button>
      <div *ngIf="showMatNotes" class="flex flex-col w-20">
        <div *ngFor="let material of matMaterials">
          <a
            [href]="material.url"
            target="_blank"
            class="flex items-center text-xs py-1 gap-2"
          >
            <img src="/assets/pdf_icon.png" alt="pdf_icon" class="h-6 w-auto" />
            <p class="text-ang-text_main font-semibold hover:opacity-85">
              {{ material.text }}
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
